<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Cadastro ALuno</title>
</head>

<body>
    <h1>Cadastro de alunos</h1>
    <form th:object="${alunoRequest}" action="cadastrar" method="post">
        <div>
            <label for="nome">Nome</label>
            <input th:field="*{nome}"/>
        </div>
        <br>
        <div>
            <label for="idade">Idade</label>
            <input th:field="*{idade}"/>
        </div>
        <br>
        <div>
            <label for="tipoMatricula">Tipo Matricula</label>
            <select th:field="*{tipoMatricula}"/>
                <option value="ENEM">ENEM</option>
                <option value="BOLSA">BOLSA</option>
                <option value="PAGA">PAGA</option>
            </select>
        </div>
        <br>
        <div>
            <input type="submit" value="Cadastrar">
        </div>
    </form>
</body>
</html>